<h2>You'll also get these awesome bonuses</h2>

<ul class="list-spaced">
	<li>All of the <strong>source code</strong> and <strong>well-documented demos</strong> so that you can see the lessons in action.</li>
	<li>My <strong>vanilla JavaScript toolkit</strong>, packed with cheat sheets, code snippets, boilerplates, helper functions, polyfills, and a growing list of recommended vanilla JS plugins.</li>
	<li><strong>Exclusive access to my private Slack team</strong>, where you can chat with other students, get feedback on code, ask questions, and share the latest tips, tricks, and strategies for going vanilla JavaScript.</li>
</ul>