{{ if and (gt (now.Format "20060102") 20180329) (lt (now.Format "20060102") 20180403) }}
{{ if eq (.Get "for") "guide" }}
{{ else if eq (.Get "for") "guide-buy" }}
{{ else if eq (.Get "for") "guides-all" }}
{{ else if eq (.Get "for") "call" }}
{{ else if eq (.Get "for") "call-buy" }}
{{ else if eq (.Get "for") "mentoring" }}
{{ else if eq (.Get "for") "mentoring-buy" }}
{{ else if eq (.Get "for") "resources" }}
{{ end }}
{{ else }}
{{ if eq (.Get "for") "guide" }}
<p><mark>🔥 <em><strong>New!</strong> Updated with new resources and more backwards-compatible polyfills.</em></mark></p>
{{ else if eq (.Get "for") "guide-buy" }}
{{ else if eq (.Get "for") "guides-all" }}
<p><mark>🔥 <em><strong>New!</strong> All of my pocket guides have been updated with new resources and more backwards-compatible polyfills.</em></mark></p>
{{ else if eq (.Get "for") "call" }}
{{ else if eq (.Get "for") "call-buy" }}
{{ else if eq (.Get "for") "mentoring" }}
{{ else if eq (.Get "for") "mentoring-buy" }}
{{ else if eq (.Get "for") "resources" }}
{{ else if eq (.Get "for") "home" }}
<p><mark>👋 <em><strong>Welcome JavaScript for WP attendees!</strong> I've put together some <a href="/jsforwp/">resources and special bonuses just for&nbsp;you</a>.</em></mark></p>
{{ end }}
{{ end }}

{{ if eq (.Get "for") "global" }}
	{{ partial "cta-global.html" }}
{{ end }}