{{ if and (gt (now.Format "20060102") 20180329) (lt (now.Format "20060102") 20180727) }}
{{ if eq (.Get "for") "call" }}
{{ else if eq (.Get "for") "call-buy" }}
{{ else if eq (.Get "for") "mentoring" }}
{{ else if eq (.Get "for") "mentoring-buy" }}
{{ else if eq (.Get "for") "resources" }}
{{ else if eq (.Get "for") "home" }}
<p><mark>🔥 <em><strong>FIRE SALE!</strong> To celebrate the launch of the <strong><a href="https://vanillajsguides.com/variables-functions-and-scope/">Pocket Guide video series on Functions, Variables, and Scope</a></strong>, you can <strong>take 50% off any guide or bundle</strong> with the code <strong><code>VAR50</code></strong> at checkout. This ends at midnight, so don't wait!</em></mark></p>
{{ end }}
{{ else }}
{{ if eq (.Get "for") "call" }}
{{ else if eq (.Get "for") "call-buy" }}
{{ else if eq (.Get "for") "mentoring" }}
{{ else if eq (.Get "for") "mentoring-buy" }}
{{ else if eq (.Get "for") "resources" }}
{{ else if eq (.Get "for") "home" }}
<p><mark>🚀 <em><strong>Make 2018 the year you master JavaScript!</strong> My <a href="https://vanillajsguides.com/">vanilla JavaScript pocket guides</a> are short, focused, and made for beginners. You can do this!</em></mark></p>
{{ end }}
{{ end }}

{{ if eq (.Get "for") "global" }}
	{{ partial "cta-global.html" }}
{{ end }}