<div class="callout" id="ready-to-buy">
	<h2>Ready to buy?</h2>

	{{.Inner}}

	<ul>
		{{ if .Get "bundle" }}
			<li>The Pocket Guides <span class="text-small text-muted">(in PDF, EPUB, MOBI, and HTML formats)</span>
				<ul>
					{{ (.Get "bundle") | safeHTML }}
				</ul>
			</li>
		{{ else }}
			<li>The Pocket Guide <span class="text-small text-muted">(in PDF, EPUB, MOBI, and HTML formats)</span></li>
		{{ end }}
			<li>The Source Code &amp; Demos</li>
			<li>The Vanilla JavaScript Toolkit</li>
			<li>Exclusive Slack Access</li>
			<li>FREE Updates for Life</li>
	</ul>

	<p>
		<a class="btn btn-large btn-block margin-bottom-small edd-buy-now-button" href='{{ .Get "url" }}'>Get the Ebook - $29</a>
		<a class="btn btn-secondary btn-large btn-block margin-bottom-small edd-buy-now-button" href='{{ .Get "url" }}'>Get the Video - $59</a>
		<a class="btn btn-tertiary btn-large btn-block margin-bottom-small edd-buy-now-button" href='{{ .Get "url" }}'>Get the Ebook + Video - $67</a>
	</p>
</div>