{{- $data := getJSON $.Site.Params.api -}}
{{- $testimonials := index $data "testimonials" -}}
{{- $testimonials := index $data "testimonials" -}}

{{- range $testimonials -}}

<div class="row padding-top">
	<figure class="grid-third">
		<img class="img-center margin-bottom-small img-circle" height="150" width="150" src="{{ index . "photo" }}">
	</figure>
	<blockquote class="grid-two-thirds">
		{{ index . "quote" | markdownify | safeHTML }}
		{{- if isset . "url" -}}
		<cite>- <a href="{{ index . "url" }}">{{ index . "name" }}</a></cite>
		{{- else -}}
		<cite>- {{ index . "name" | safeHTML }}</cite>
		{{- end -}}
	</blockquote>
</div>

{{- end -}}