{{ if .Get "photo"}}<div class="row">
	<div class="grid-third">
		<img class="aligncenter margin-bottom-small img-circle" height="150" width="150" src="{{ "/img/testimonials/david-buchholz.jpg" | absURL }}">
	</div>
	<div class="grid-two-thirds">{{ end }}
		<blockquote>
			The cheat sheet and the ability to ask questions on Slack were worth the price of the book alone.
			<cite>- <a href="https://twitter.com/Buchholz_Dave">David Buchholz</a></cite>
		</blockquote>
	{{ if .Get "photo"}}</div>
</div>{{ end }}