{{ partial "header.html" . }}

{{ partial "content-page.html" . }}

{{- $.Scratch.Set "pagecount" 0 -}}

{{ $paginate := .Paginate .Pages }}
{{ range $index, $page := $paginate.Pages }}

	{{- $.Scratch.Set "pagecount" (add ($.Scratch.Get "pagecount") 1) -}}

	{{ if or ( ne ( $.Scratch.Get "pubDate" ) ( $page.PublishDate.Format "200601" ) ) ( eq ( $.Scratch.Get "pagecount" ) 1 ) }}
		{{ if and (ne $index 0) (ne ( $.Scratch.Get "pagecount" ) 1) }}</ul>{{ end }}
		<h2>{{ $page.PublishDate.Format "January 2006" }}</h2>
		<ul class="list-unstyled list-spaced-small">
	{{ end }}
	{{ $.Scratch.Set "pubDate" ( $page.PublishDate.Format "200601" ) }}

		<li>
			<div class="row row-reverse">
				<div class="grid-fourth text-muted text-small text-right-large">
					<time datetime="{{ $page.PublishDate }}" pubdate>{{ $page.PublishDate.Format "January 2, 2006" }}</time>
				</div>
				<div class="grid-three-fourths">
					<a class="link-no-underline" href="{{ $page.URL }}">{{ $page.Title }}</a>
				</div>
			</div>
		</li>

{{ end }}

	</ul>

{{ if gt $paginate.TotalPages 1  }}
	<nav class="text-center">
		<p class="padding-top-large margin-bottom-small">
			{{ if $paginate.HasPrev }}<a class="link-no-underline" href="{{ $paginate.Prev.URL }}">&larr; Newer</a>{{ end }}
			{{ if and $paginate.HasPrev $paginate.HasNext }}&nbsp;/&nbsp;{{ end }}
			{{ if $paginate.HasNext }}<a class="link-no-underline" href="{{ $paginate.Next.URL }}">Older &rarr;</a>{{ end }}
		</p>
	</nav>
{{ end }}

{{ partial "footer.html" . }}